#gallery-img1 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img2 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img3 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img4 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img5 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img6 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img7 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img8 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img9 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img10 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img11 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img12 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img13 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img14 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img15 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img16 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img17 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery-img18 {
    background-image: url("../img/sample-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
